body{
  background-color: black;
  padding: 0;
  margin: 0;
}

#container{
  height: 600px;
  width: 160px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: white;
}

#doj{
  height: 600px;
  width: 160px;
  border: thin solid black;
}
